.tabs{
    /* border: 2px solid red; */
    position: absolute;
    top: 5rem;
    left: 16rem;
    width: 85vw;
    padding: 0px 0px;
}

.tab-nav{
    /* border: 2px solid blue; */
    display: flex;
    justify-content: left;
    /* margin-top:70px;
    margin-bottom:60px;    */
}
.tab-nav a{    
    color:#747474;
    font-size: 1.25rem;
    /* font-weight: 500; */
    margin-right:100px;
    padding: 5px;
    text-decoration: none;
    /* border-radius: 10px; */
    /* border: 2px solid red; */
}
.tab-nav a:active{
    background-color: rgb(236, 236, 236);
}
.tab-nav a:hover{
    border-bottom: 3px solid rgba(255, 160, 0, .1);
}
.tab_active{
    color: orange!important;
    border-bottom: 3px solid orange;
    /* text-decoration: underline!important; */
}
.tab_active:hover{
    color: orange!important;
    border-bottom: 3px solid orange!important;
    /* text-decoration: underline!important; */
}

h1{
    color: black;
    font-size:30px;
    font-weight: 500;
    display: flex;
    justify-content: left;
    /* border: 2px solid blue; */
    margin: 20px 0px;
}
