
.box_container{
    /* border: 1px solid red; */
    /* height: 80vh; */
    width: 80vw;
    /* position: absolute; */
    /* top: 50px; */
    /* left: 250px; */
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    /* margin-top: 1rem; */
    /* grid-template-columns: 50% 50%; */
}
.block{
    /* border: 2px solid orange; */
    margin: 1%;
    background-color: white;
    height: 100%;
    /* width: 55%; */
    /* height: 20rem; */
    /* position: absolute;
    top: 270px;
    left: 250px; */
    /* font-size: 50px; */
    color: black;
    box-shadow: 0px 5px 10px 2px gray;
    padding: 1%;
    position: relative;
    
}
.title_block{
    /* border: 1px solid red; */
    font-size: 1.1vw;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    /* position: relative; */
}
.menu-btn{
    /* border: 1px solid red; */
    position: absolute;;
    top: 0;
    right: 0;
    margin: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-btn:hover{
    transform: translateX(1px);
}

.menu-btn_burger{
    width: 20px;
    height: 2px;
    background-color: #003E6E;
}
.menu-btn_burger::before,
.menu-btn_burger::after{
    content: '';
    position: absolute;
    left: 3px;
    width: 20px;
    height: 2px;
    background-color: #003E6E;
}
.menu-btn_burger::before{
    transform: translateY(-5px);
}
.menu-btn_burger::after{
    transform: translateY(5px);
}


.fin{
    border: 1px solid red;
    position: absolute;;
    top: 0;
    right: 0;
    margin: 10px;
}

.boxx{
    border: 1px solid red;
    width: 600px;
    height: 250px;
    position: absolute;
    top: 400px;
    left: 400px;
}

/* input{
    border: 2px solid rgb(190, 190, 190);
    border-radius: 0px;
    width: 200px;
} */

.frameBlock{
    /* border: 2px solid red; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: center;
}
.oblock{
    background-color: white;
    width: 18.4%;
    height: 20vh;
    margin: .8%;
    color: black;
    box-shadow: 0px 2px 8px 1px rgb(161, 161, 161);
    position: relative;
}
.frameBlockFooter{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0% 1%;
}

.label{
    /* border: 1px solid blue; */
    padding: 10px;
    font-size: 1vw;
}
.value{
    /* border: 1px solid red; */
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 40%;
    font-size: 1.9vw;
    font-weight: 700;
}

